.navbar .container .logo {
    float: none;
    text-align: center;
}

.navbar .container ul, .navbar .container ul li {
    float: none;
}

#showcase {
    height: 100%;
}

#showcase .showcase-content {
    padding-top: 70px;
    padding-bottom: 30px;
}

#home-info {
    height: 450px;
}

#home-info .info-img {
    display: none;
}
#home-info .info-content {
    float: none;
    width: 100%;
    
}

.box {
    float: none;
    width: 100%;
}
/*about page*/

#aboutcontainer{
    justify-content: center;
}
#aboutcontainer .aboutwords{
    margin-top: 200px;
    float: left;
    
}

#aboutcontainer .aboutwords h2{
    text-align: left;
}
#aboutcontainer .aboutwords p{
    font-size: 14px;
    float: left;
   
    
} 
#aboutcontainer .image1 img{
    
   display: none;
    
}

#aboutblock{   
   background: url('./img/test-bg.jpg') no-repeat center center/cover; 
   height: 400px;
   width: 500px;
   justify-content: left;
   float: left;
   flex-wrap: wrap;
   
}
#aboutblock h1{
    text-align: center;
    color: white;
    font-size: 30px;
   
}

#aboutblock .aboutperson {
    
  height: 100%;
    align-items: left;
    justify-content: flex-start;
    align-items: left;
    width: 100px;
    margin-right: 0px;

    
}
#aboutblock .aboutperson img{
  display: none;
}
#aboutblock .aboutperson p{

    text-align: left;
    width: 450px;
    padding: 20px;
    overflow-wrap: break-word;
height: 110px;
    overflow: hidden;

    
}
/* contact us */
#contanctcontainer{
    display: block;
    margin:auto;
}
#contanctcontainer h1{
    margin-top:300px;
}
#contanctcontainer .form1 input,textarea{
    width: 370px;
    
}
#contact1{
    display: block;
    margin-top:300px;
    margin-left:5px;
    width:500px;
    height:450px;
}

 .box1,.box2,.c1{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border-bottom: cornsilk 2px solid;
} 
