/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */

html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
  
}

a {
    color: #333;
    text-decoration: none;
}

h1,h2,h3 {
    padding-bottom: 20px;
}

/* Utility classes */
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
    

}

.text-primary {
    color: #f7c08a;
}

.lead {
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #f7c08a;
    color: #333;
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #333;
} 

.bg-primary {
    background: #f7c08a;
    color: #333;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.clr {
    clear: both;
}

/* navbar */
.navbar {
    background: #333;
    color: #fff;
    overflow: auto;
    position: fixed;
    width: 100%;
}

.navbar a {
    color: #fff;
}

.navbar h1 {
    float: left;
    padding-top: 20px ;
}

.navbar ul {
    list-style: none;
    float: right;
}

.navbar ul li{
    float: left;
}

.navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

.navbar ul li a:hover, .navbar ul li a.current {
    background: #444;
    color: #f7c08a;
}
/* ////////// */



/* showacase */
#showcase {
   background: url('./img/showcase.jpg') no-repeat center center/cover; 
   height: 600px;
}

#showcase .showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}
#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}

/* home Info */

#home-info {
    height: 400px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url('./img/photo-1.jpg') no-repeat;
    min-height: 100%;
}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
    color: #f4f4f4;
}

#home-info .info-content p {
    padding-bottom: 30px;
    
}

/* features */
.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

.box i {
    margin-bottom: 10px;
}

/* footer */

.main-footer {
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
}
/* about page*/


#aboutcontainer{
    height: 300px;
    justify-content: center;
}
#aboutcontainer .aboutwords{
    margin-top: 20px;
    float: left;
    width: 700px;
    height: 100%;
    text-align: center;
    padding: 20px;
}

#aboutcontainer .aboutwords h2{
    text-align: left;
    margin-left: 300px;
    flex: none;
    
    
    
}
#aboutcontainer .aboutwords p{
    font-size: 14px;
    float: right;
    text-align: justify;
    width: 400px;
    justify-content: center;
   
    
} 
#aboutcontainer .image1 img{
    
    border-radius: 50%;
    width:20%;
    margin: 70px;
    min-height: 100%;
  
    
}

#aboutblock{   
   background: url('./img/test-bg.jpg') no-repeat center center/cover; 
   height: 400px;
   
}
#aboutblock h1{
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 50px;
   
}

#aboutblock .aboutperson {
    width:800px;
    height:100px;
    display: flex;
    margin: auto;
    border: solid 1px #f7c08a;
    background-color: #f7c08a;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
}
#aboutblock .aboutperson img{
    
    border-radius: 50%;
    width:12%;
    margin-left: 10px;

}
#aboutblock .aboutperson p{
    text-align: left;
    margin-left: 20px;
    
}

/*contactus page*/
#contanctcontainer{
margin: auto;
align-items:center;
justify-content: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 13px;
padding: 10px;
margin-left: 300px;
box-sizing: border-box;
height: 400px;

}
#contanctcontainer h1{
    margin-top: 60px;
}



#contanctcontainer .form1 input,textarea{
    width: 600px;
    opacity: 0.3;
    
}
#contanctcontainer .form1 button[type="submit"]{
    background-color: rgb(46, 44, 44);
    color:white;
    width:70px;
    height: 30px;
    text-align: center;
    border-style:ridge;

}
#contact1{
    border: 1px solid black;
    padding-top: 30px;
    background-color:rgb(46, 44, 44);
    display: flex;
    height: 150px;
    padding:0px 30px;
    margin-top:40px;
    text-align: center;
    justify-content:center;
    align-items: center;
}
#contact1 .c1 i{
    color: white;
    
}
#contact1 .c1{
    color: white;
    
    width:33.3%;
}
    

#contact1 .box1{
    
    width:33.3%;
} 
#contact1 .box2{
    
    width:33.3%;
} 
#contact1 .c1 p{
    font-size: 12px;
}
